.list {
  display: flex;
  flex-direction: column;
}

.titlecontainer {
  margin-bottom: 1rem;
}
input[type="radio"]:checked ~ .check {
  border: 5px solid #0dff92;
}

input[type="radio"]:checked ~ .check::before {
  background: #0dff92;
}

input[type="radio"]:checked ~ label {
  color: #0dff92;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  min-width: 60px;
  transition: 0.2s all ease-in-out;
}

button:hover {
  background-color: #a881af;
  color: whitesmoke;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
button:active {
  transform: translateY(2px);
  background-color: #80669d;

  box-shadow: 3px 2px 12px 1px rgba(0, 0, 0, 0.24);
}

.subcontainer {
  display: flex;
}

.ambienceimg {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  text-align: center;
  align-self: center;
}

.maincontainer {
  margin-bottom: 1rem;
}

a {
  text-decoration: underline;
}

span {
  transition: 0.1s all ease;
  cursor: pointer;
}
span:nth-child(even):hover {
  filter: blur(1px);

  color: #80669d;
  transform: scale(1.1);
}

span:nth-child(odd):hover {
  filter: blur(1px);

  color: #a881af;
  transform: rotate(5deg);
}
::selection {
  background: #80669d;
  color: white;
}
